name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Run rubocop
        run: bin/rubocop
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [3.1, 3.2, 3.3, 3.4, "4.0"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version}}
          bundler-cache: true
      - name: Run rspec
        run: bin/rspec
